<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer class="footer mt-auto py-3" >
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>Fake Facts</strong>. All Rights Reserved</p>
              <div class="credits">
                Designed by <a href="#">Fake Facts</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>